body{
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', Arial, sans-serif;
    background-color: #eee;
    color: #333;
    margin: 0;
}

/* title */
#title{
    padding-top: 40px;
}
#img-div{
    background-color: white;
    margin: 0;
    padding: 40px 0px 20px 0px;
}
#image{
    max-width: 50%;
}
#img-caption{
    padding-top: 20px;
}

/* content */
#headline{
    margin-top: 48px;
}
ul {
    max-width: 550px;
    margin: 0 auto 50px auto;
    text-align: left;
  }
.logo{
    list-style: none;
    text-align: center;
    margin-top: 64px;
}
li {
    margin-top: 24px;
}

/* source */
#source{
    font-size: 18px;
    background-color: white;
    padding: 40px 0 40px 0;
}
